@charset "UTF-8";
/* BS STUDIO 인트로 페이지 */

html,
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-decoration: none;
    background-color: #000;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

audio {
    position: fixed;
    height: 30px;
    bottom: 23px;
    left: 97vw;
    opacity: 10%;
    z-index: 999;
}

.sdc{
    position: fixed;
    height: auto;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    /* z-index: 5; */
}

.null-transform-hack {
    transform: translateZ(0);
    backface-visibility: hidden;
}

.bars{
    height: 30px;
    width: 24px;
    margin: 1.7em 2em;
    position: relative;
    pointer-events: auto;
    cursor: pointer;
}

.fade-enter-active, .fade-leave-active{
    transition: opacity 0.5s;
}

/* .fade-enter, .fade-leave-to{
    opacity: 0;
} */

.bars .bar{
    animation: barsAni linear -.8s infinite alternate;
}

@keyframes barsAni {
    1%{
        /* top: 50px; */
        bottom:20px;
    }
}

.bars .bar:first-child{
    animation-duration: 674ms;
}
.bars.active .bar:nth-child(2){
    animation-duration: 533ms;
}
.bars.active .bar:nth-child(3){
    animation-duration: 607ms;
}
.bars.active .bar:nth-child(4){
    animation-duration: 558ms;
}
.bars.active .bar:nth-child(5){
    animation-duration: .6s;
}
.bars.active .bar:nth-child(6){
    animation-duration: 527ms;
}

.bar:first-child{
    left: 10px;
}
.bar:nth-child(2){
    left: 5px;
}
.bar:nth-child(3){
    left: 9px;
}
.bar:nth-child(4){
    left: 13px;
}
.bar:nth-child(5){
    left: 17px;
}
.bar:nth-child(6){
    left: 21px;
}

.bar{
    background: #fff;
    opacity: 75;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 3px;
}