@charset "utf-8";
@import url(reset.css);
@import url(core.css);

/* --------------------header-------------------- */
#header {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

#header .nav-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 0;
    padding: 34px 35px;
}

#header .logo {
    transition: opacity .4s;
    text-align: center;
}

#header .logo:hover {
    opacity: .7;
}

#header .logo.pc {
    width: 66px;
}

#header .logo a i {
    font-size: 14px;
    font-weight: 300;
    font-family: "Piazzolla", serif;
}

#header .menu-box {
    display: flex;
    align-items: start;
    justify-content: center;
}

#header .btn-menu {
    display: block;
    width: 61px;
    height: 20px;
    position: relative;
    transition: opacity .4s;
    cursor: pointer;
}

#header .btn-menu:hover {
    opacity: .4;
}

#header .btn-menu::before {
    content: '';
    display: block;
    height: 1px;
    border-top: 1px solid #000;
    position: absolute;
    left: 0;
    top: 5px;
    width: 100%;
    transition: opacity .4s;
}

#header .btn-menu::after {
    content: '';
    display: block;
    height: 1px;
    border-top: 1px solid #000;
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    transition: opacity .4s;
}

/* --------------------sec1-------------------- */
.top-wrapper .top-layer-wrapper {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.top-wrapper .top-layer-wrapper .address {
    position: absolute;
    left: 40px;
    bottom: 30px;
    font-size: 15px;
    font-weight: 300;
}

.top-wrapper .first-section {
    width: 100%;
    height: 100%;
    padding-top: 126px;
    margin-bottom: 289px;
}

.top-wrapper .inner-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-wrapper .first-section .first-view-box {
    position: relative;
    width: 610px;
    aspect-ratio: 610 / 970;
}

.top-wrapper .first-section .first-view-box .swiper-wrapper {
    overflow: hidden;
}

/* swiper */
/* .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  } */
.top-wrapper .first-section .swiper-fade .swiper-slide {
    transition: opacity 5s ease-in-out; /* 페이드 지속 시간을 1초로 설정 */
}