@charset "utf-8";

/************************* 모바일기준 640px 이하 *************************/
@media only screen and (max-width: 640px){
    
.gnb2{
    display: none;
}



}

/************************* 모바일기준 500px 이하 *************************/
@media only screen and (max-width: 500px){
    

.Mvideo{
    display: none;
}

.cont1{
    background-image: url(./img/mobmain.jpeg);
}



#gosub span {
    display: none;
}

#gosub img {
    max-width: 450px;
    transform: translate(-50%, -65%);
}


}