@charset "utf-8";
/******************************************* 공통 *******************************************/
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

/* font-family: 'Gowun Batang', serif; */
/* font-family: 'IM Fell English SC', serif; */
/* font-family: 'Poor Story', cursive; */
html,
body,
h1,
h2,
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body {
    scroll-behavior: smooth;
    font-family: 'IM Fell English SC', serif;
    font-family: 'Poor Story', cursive;
}

body {
    color: #333333;
}

a {
    color: #000;
    text-decoration: none;
}

p {
    font-size: 100%;
    line-height: 1.5em;
}

b,
strong {
    font-weight: bolder;
}

abbr {
    text-decoration: underline solid;
}

.cont1 {
    width: 100vw;
    height: 100vh;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/******************************************* 상단 *******************************************/
#top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    background-color: #2422213a;
    z-index: 999;
}

.logo {
    position: absolute;
    top: 5%;
    left: calc(50% - 22.5px);
    width: 45px;
    height: 45px;
    z-index: 10;
}

.logo img {
    width: 100%;
    border-radius: 50%;
}

.gnb2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 20px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    animation: menuAni 1s ease-out 1s forwards;
}

.gnb2 ul {
    width: 70%;
    margin: 0 auto;
    padding-top: 5px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.gnb2 .lb li:first-child {
    padding-right: 30px;
}

@keyframes menuAni {
    to {
        width: 500px;
    }
}

.gnb2>div {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.gnb2 .lb {
    position: absolute;
    width: 200px;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.gnb2 .rb {
    position: absolute;
    width: 245px;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.gnb2 a {
    color: #ddd;
}

.gnb2 a:hover {
    color: #0061f5;
}

.sideM{
    display: none;
}

.menu {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 30px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: transparent;
    padding: 3px;
    cursor: pointer;
    color: #fff;
}

.ham {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
}

.gnb1 {
    position: fixed;
    right: -100%;
    height: 100%;
    background-color: #8fb5c4;
    transition: right .4s ease-in-out;
    z-index: 9999;
}

.gnb1.on {
    right: 0;
}

.cbtn {
    position: absolute;
    top: 5px;
    right: 20px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #ffffff00;
    padding: 0;
    cursor: pointer;
    z-index: 1;
}

.gnb1 a {
    color: #fff;
    text-decoration: none;
}

.gnb1>ul {
    margin: 0 auto;
}

.gnb1 ul {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    overflow: hidden;
}

.gnb1 ul>li {
    display: flex;
    flex-direction: column;
    width: 320px;
    text-align: center;
    font-size: 35px;
    line-height: 2;
}

.gnb1>ul>li a {
    width: 320px;
    font-weight: bolder;
    display: block;
    transition: .5s;
}

.gnb1>ul>li:hover>a {
    color: #12adda;
    background-color: #213490d6;
}

.ghilogo {
    vertical-align: middle;
    height: 35px;
}

.audioBox {
    position: absolute;
    top: 100%;
    left: 20px;
}

.audio-wave {
    position: relative;
    width: 50px;
    height: 50px;
}

.wave-animation {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(0);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #0061f5;
    animation: wave 2s infinite ease;
    opacity: 0;
    cursor: pointer;
}

@keyframes wave {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: .1;
    }
}

.audiotxt {
    position: absolute;
    white-space: nowrap;
    top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.audioBox:hover .audiotxt {
    color: #0061f5;
    text-decoration: underline;
    cursor: pointer;
}

.audiotxt:active {
    transform: scale(0.95);
}

/******************************************* Cont1 *******************************************/

.cont1 {
    position: relative;
    height: 100vh;
}

.Mvideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/******************************************* Cont2 ******************************************/
.cont2 {
    background: url(../img/ocean/bottomback.jpeg) no-repeat 50% 50%/cover;
    margin-bottom: 0;
}

.characters {
    margin: 0 auto;
    max-width: 1300px;
    padding: 60px;
    background-color: #17171721;
}

.characters h2 {
    font-size: 260%;
    line-height: 1.2em;
    text-decoration: overline;
    font-weight: normal;
}

.cbwrap>.box1:first-child {
    padding-top: 30px;
}

.cbwrap>.box1 {
    position: relative;
    padding: 0;
    margin-bottom: -1px;
}

.cbwrap>div>div {
    padding: 15px 0;
}

.imgtxtbx {
    border-top: 1px solid #ccc;
    position: relative;
    height: 100%;
}

#pg1 .box1:first-child {
    display: inline-block;
    width: 100%;
    height: 1000px;
}

#pg1 .box1:first-child .imgtxtbx .imgbx {
    position: absolute;
    height: 100%;
}

#pg1 .box1:first-child .re {
    position: absolute;
    top: 13%;
    right: 0;
    padding-left: 30px;
}

.imgtxtbx>div.txtbx {
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    vertical-align: middle;
}

.imgtxtbx>div {
    display: table-cell;
    vertical-align: top;
    width: 50%;
    text-align: center;
}

.imgtxtbx .iimg {
    margin-bottom: 20px;
    max-width: 200px;
}

.iimg {
    min-width: 160px;
}

.txtbx h3 {
    text-align: center;
    line-height: 1.3em;
}

.cont2 h3 {
    padding: 0;
    font-size: 155%;
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 0;
    width: 100%;
}

.txtbx h3 span {
    font-size: 80%;
    display: block;
}

.txtbx p {
    text-align: center;
    margin: 15px 0 0;
}

.cbwrap .imgtxtbx>.imgbx {
    text-align: center;
    text-indent: -9999px;
    position: relative;
    left: 0;
    background: url(../img/ocean/poster1.jpeg) no-repeat center center/550px auto;
}

.cbwrap .imgtxtbx>.scdimg {
    background-image: url(../img/ocean/taku2.gif);
    background-size: 540px auto;
    top: 0;
}

.cbwrap .imgtxtbx>.trdimg {
    background-image: url(../img/ocean/rikako.gif);
    background-size: 540px auto;
    top: 0;
}

.cbwrap .imgtxtbx>.fimg {
    background-image: url(../img/ocean/utaka.gif);
    background-size: 540px auto;
    top: 0;
}

.cbwrap .imgtxtbx>.fifimg {
    background-image: url(../img/ocean/umi0.jpeg);
    background-size: 540px auto;
    top: 0;
}

/******************************************* Cont3 ******************************************/
.cont3 {
    position: relative;
    padding: 80px 0;
    background: url(../img/ocean/bottomback.jpeg) center top no-repeat;
    background-size: cover;
}

section .inner {
    width: 94%;
    max-width: 1200px;
    margin: 0 auto;
}

.tit {
    font-size: 36px;
    display: block;
    margin-bottom: 1.5em;
    text-align: center;
}

.cont3 .end {
    width: 43.3%;
    margin: 0 auto;
    margin-top: 3em;
}

.cont3 .end img {
    width: 100%;
}

.cont3 .txtbx {
    margin: 2em 0;
    text-align: center;
    font-family: 'Poor Story', cursive;
    font-weight: lighter;
    font-size: 17px;
}

.cont3 .txtbx p {
    text-decoration: underline;
}

/******************************************* Cont4 ******************************************/
.cont4 {
    width: 100%;
    height: 100vh;
}

.cont4 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont4 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.swiper-button-next, .swiper-button-prev{
    margin: 0 1%;
}

.swiper-button-next::after, .swiper-button-prev::after{
    font-size: 30px;
    color: snow;
}

.swiper-pagination-bullet {
    background-color: #fff;
}
.swiper-pagination-bullet .swiper-pagination-bullet-active {
    background-color: #fff;
}

/******************************************* 하단 *******************************************/
#footer {
    padding: 10px 0;
    background: #a3a3a3;
    font-size: 14px;
    color: #404040;
    text-align: center;
    font-weight: bolder;
}

.ghibli {
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

#footer a {
    display: inline-block;
    margin-right: 5px;
    color: #404040;
}

#footer a:hover {
    text-decoration: underline;
}