@charset "utf-8";
@import url(reset.css);
@import url(core.css);

body {
    background-color: #000;
}

.part {
    max-width: 1200px;
    margin: 0 auto;
}

/******************************************* 1. 상단영역 *******************************************/
#top {
    position: relative;
    height: 80px;
    background: url(../images/curtain.jpg) repeat-x;
    z-index: 999;
}


h1.tit {
    color: aquamarine;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    font-family: 'Jua', sans-serif;
    text-shadow: 0 0 4px aquamarine;
    animation: titAni 1.3s ease-out infinite alternate;
}
@keyframes titAni {
    from{
        text-shadow: 0 0 4px aquamarine;
    }
    to{
        text-shadow: 0 0 12px aquamarine;
    }
    
}

.gnb {
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.glist{
    position: relative;
    z-index: 1;
}

.gnb li {
    position: relative;
    padding: 0 10px;
    padding-bottom: 5px;
    font-family: 'Jua', sans-serif;
    font-size: 20px;
}

.glist>li:hover .smenu {
    display: block;
}

.smenu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    background: url(../images/bg_smenu.png)no-repeat center/cover;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0 0 5px #fff;
    margin-top: 5px;
    display: none;
}

.smenu::before {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-bottom: 10px solid #353535;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.smenu ol {
    border: 1px solid #ccc;
    padding: 5px;
}

.smenu li {
    font-size: 16px;
    line-height: 2;
    float: none;
}

.bdt {
    border-top: 1px solid #ccc;
    padding-top: 5px !important;
}

.smenu a {
    display: block;
    white-space: nowrap;
}

.smenu a:hover {
    color: red;
}

.smenu li:first-child:hover a::after {
    float: right;
    content: '🎄';
}

.smenu li:nth-child(2):hover a::after {
    float: right;
    content: '🎅';
}

.smenu li:nth-child(3):hover a::after {
    float: right;
    content: '⛄';
}

.smenu li:nth-child(4):hover a::after {
    float: right;
    content: '🎁';
}

#cam {
    position: absolute;
    bottom: -14px;
    right: -52px;
}

#cam img {
    position: relative;
    z-index: 1;
    width: 50px;
    transform: rotate(25deg);
    transition: transform .5s .3s;
}

.gnb:hover #cam img {
transform: rotate(0deg);
transition-delay: 0s;
}

.bim{
    position: absolute;
    top: -16px;
    right: 6px;
    width: 0;
    height: 70px;
    background: url(../images/bim.png) no-repeat;
    background-position: right center;
    background-size: auto 100%;
    transition: width .3s linear ;
}

.gnb:hover .bim{
    width: 200px;
    transition-delay: .5s;
    animation: bimAni .04s linear infinite alternate;
}

@keyframes bimAni {
    from{
        opacity: 0.9;
    }
    to{
        opacity: 0.5;
    }
}


/******************************************* 2. 메인영역 *******************************************/
#cont {
    position: relative;
    background: url(../images/bg.jpg) no-repeat;
    background-size: 100%;
}

#screen {
    position: absolute;
    top: 17.1%;
    left: 21.2%;
    width: 58.7%;
    height: 50.7%;
    background-color: #000;
}

#screen iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.mlist {
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
}

.mlist ul>li {
    position: relative;
    width: 14.66%;
    margin: 0 1%;
    overflow: hidden;
}

.mlist img {
    width: 100%;
}

.movtxt {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;

    background-color: rgba(2, 2, 2, 0.700);
    font-family: 'Cute Font', cursive;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    transition: top .4s ease-in-out;
}

.mlist>ul>li:hover .movtxt {
    top: 0;
}

.movtxt li {
    float: none;
}

.movtxt li:first-child {
    color: aqua;
    font-size: 17px;
    letter-spacing: -1px;
    margin-top: 30%;
}

/******************************************* 3. 하단영역 *******************************************/
#info {
    position: relative;
    height: 100px;
}

#info address{
    color: #fff;
    font-style: normal;
    font-family: 'Cute Font', cursive;
    font-size: 18px;
    line-height: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

#info img{
    float: left;
    margin-right: 20px;
}

.sns{
    position: absolute;
    top: 20px;
    right: 20px;
}

.sns li{
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 7px;
    transition: all .5s;
}

.sns a{
    display: block;
    width: 100%;
    height: 100%;
}

#info .sns li a img {
    width: 100%;
    height: 100%;
    margin: 0;
    transition: all 1s;
}

.sns li:hover img{
    transform: rotateY(360deg);
}