@charset 'utf-8';

.art1 .aWrap .yves {
    width: 500px;
    height: 210px;
    padding-top: 10px;
}

.art1 .aWrap .info {
    margin-left: 40px;
    font-size: 1.2em;
}

.art1 .aWrap .info .inT li+li {
    padding-top: 25px;
}