@charset 'utf-8';
/* 공통 */
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Oswald:wght@200;300;400;500;700&family=Permanent+Marker&display=swap');
html,body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,button{padding: 0;margin: 0;}
body{font-family: 'Oswald', sans-serif;}
ul,ol,li{list-style: none;}
*{box-sizing: border-box;}
a{color: #000; text-decoration: none;}
i{font-style: normal;}
img{vertical-align: middle}
button{background: none; border: none; font-size: 1em; font-weight: 200; font-family: 'Oswald', sans-serif;}

/* 레이아웃 */
.wrapBox{
    margin: 0 auto;
}
.header{
    width: 100%;
    height: 100px;
}
.wrapBox .cont{
    position: relative;
    margin: 0 auto;
    height: 100vh;
    width: 90vw;
}
.cont .down{
    color: #1b3486;
    position: fixed;
    right: 50%;
    bottom: 3%;
    transform: translateX(-50%);
    animation: down 2s linear infinite;
    text-align: center;
    cursor: pointer;
    z-index: 9;
}
.cont .down:hover img{
    animation: scroll .8s ease-in-out forwards;
}
.cont .down img{
    height: 5vh;
}
@keyframes down {
    0%{transform: translateY(-10px);}
    25%{transform: translateY(0px);}
    50%{transform: translateY(10px);}
    75%{transform: translateY(0px);}
    100%{transform: translateY(-10px);}
}
@keyframes scroll {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(-180deg);
    }
}
.wrapBox .cont.cont1{
    height: calc(100vh - 100px);
}
.footer{
    width: 100%;
    height: 80px;
}

/* 헤더 */
.header{
    position: relative;
    padding: 0 20px;
    font-size: 20px;
    background-color: #ebe7e4;
}
.header::after{
    content: '';
    display: block;
    clear: both;
}

.header .title{
    line-height: 100px;
}
.header .mainH1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.header .subH2{
    float: left;
}

.header .menuBtn{
    cursor: pointer;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    width: 4vw;
    height: 3vh;
    z-index: 9999;
}

.menuBtn img{
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    display: block;
    border-radius: 25%;
}

.menuBtn img:hover{
    filter: grayscale(0)
}
/* ------------------------cont1------------------------ */
.cont1{
    display: flex;
    justify-content: space-between;
}
.cont1>div{
    width: 33.33%;
    padding: 15px;
}
.cont1 h3{
    font-family: 'Cardo', serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
.cont1 .mainT{
    width: 100%;
    height: 10%;
    margin-top: 5%;
}
.cont1 p{
    text-align: center;
    font-weight: 300;
}
.cont1 .mainImg2 {
    background: url(../images/IMG_6063.JPG) no-repeat 50% 50%/70%;
    margin: auto;
    width: 70%;
    height: 60%;
    filter: grayscale(1);
}
.cont1 .mainImg2:hover{
    filter: grayscale(0)
}
/* --------------------메인 왼쪽-------------------- */
.cont1 .mainL{
    /* border: 1px solid red; */
}
.cont1 .mainL .mainImgL{
    width: 100%;
    height: 20%;
    background: url(../images/hifive1.webp) no-repeat 0 60%/100%;
    filter: grayscale(1);
}
.cont1 .mainL .mainImgL:hover{
    filter: grayscale(0)
}
/* --------------------메인 가운데-------------------- */
.cont1 .mainC{
    /* border: 1px solid blue; */
}
.cont1 .mainC .mainImgC1{
    margin: auto;
    width: 100%;
    height: 20%;
    background: url(../images/mainC1-1.jpeg) no-repeat 50% 50%/100%;
    position: relative;
}
/* .cont1 .mainImgC1:hover{
    background: url(../images/article_thumbnail_19.png) no-repeat 50% 50%/100%;
} */
.cont1 .mainC .mainTitC{
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    font-size: 2.5vh;
    white-space: nowrap;
    color: #fff;
}
.cont1 .mainC .mainImgC1:hover .mainTitC{
    display: block;
}
.cont1 .mainC .mainImgC2{
    width: 100%;
    height: 80%;
    background: url(../images/mainC2-1.jpeg) no-repeat 50% 50%/100%;
    filter: grayscale(1);
}
.cont1 .mainC .mainImgC2:hover{
    filter: grayscale(0)
}
/* --------------------메인 오른쪽-------------------- */
.cont1 .mainR{
    /* border: 1px solid green; */
}
.cont1 .mainR .mainImgR{
    width: 100%;
    height: 20%;
    background: url(../images/mainR1.jpeg) no-repeat 0 100%/100%;
    filter: grayscale(1);
}
.cont1 .mainR .mainImgR:hover{
    filter: grayscale(0)
}
.cont1 .mainImg2.R{
    transform: scaleX(-1);
}
/* ------------------------cont2------------------------ */
.wrapBox .cont.cont2{
    /* border: 1px solid blue; */
    margin-bottom: 60px;
}
.cont2 .swiper {
    width: 95%;
    height: 90%;
    top: 5%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}
.wrapBox .cont2 .swiper-button-next, .swiper-button-prev{
    position: absolute;
    top: 0;
    height: 100%;
    opacity: .1;
    transition: opacity .5s ease-in-out;
}
.wrapBox .cont2 .swiper-button-prev{
    background: url(../images/prev2.svg) no-repeat 50%/20px;
    left: 0;
}
.wrapBox .cont2 .swiper-button-next{
    background: url(../images/next2.svg) no-repeat 50%/20px;
    right: 0;
}
.wrapBox .cont2 .swiper-button-next:hover,
.wrapBox .cont2 .swiper-button-prev:hover{
    opacity: .7;
}
.wrapBox .cont2 .swiper-button-next::after,
.wrapBox .cont2 .swiper-button-prev::after{
    display: none;
}
.cont2 .swiper-pagination{
    bottom: 1.5%;
}
.swiper-pagination-clickable .swiper-pagination-bullet{
    background: url(../images/pager.svg);
}
.swiper-pagination-clickable .swiper-pagination-bullet-active{
    background: url(../images/pager_active.svg);
}

/* ------------------------cont3------------------------ */
.cont3{
    display: flex;
    text-align: center;
}
.cont3 .c3boxL{
    /* outline: 1px solid red; */
    width: 40%;
    height: 100%;
}
.cont3 .c3boxL .c3titL{
    /* outline: 1px dotted cyan; */
    height: 20%;
    position: relative;
}
.cont3 .c3boxL .c3imgbxL{
    /* outline: 1px dotted firebrick; */
    height: 80%;
}
.cont3 .c3boxL .c3imgbxL .c3imgL{
    width: 100%;
    height: 100%;
    background: url(../images/main-imageL.jpeg) no-repeat 50%/90%;
}

.cont3 .c3boxR{
    /* outline: 1px solid blue; */
    width: 60%;
    height: 100%;
}
.cont3 .c3boxR .c3imgbxR{
    /* outline: 1px dotted firebrick; */
    height: 70%;
}
.cont3 .c3boxR .c3imgbxR .c3imgR{
    width: 100%;
    height: 100%;
    background: url(../images/newspaper.jpeg) no-repeat 50%/90%;
}
.cont3 .c3boxR .c3titR{
    /* outline: 1px dotted cyan; */
    height: 30%;
    position: relative;
}
.cont3 .tWrap{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.cont3 .tWrap h4{
    font-size: 1.3em;
    font-weight: 500;
}
.cont3 .tWrap p{
    font-size: 1em;
    font-weight: 300;
}

/* ------------------------footer------------------------ */
.footer{
    /* outline: 1px dotted hotpink; */
    margin: auto;
    margin-top: 50px;
    height: 200px;
    width: 90vw;
    font-size: 1em;
    font-weight: 200;
}
.footer .footInfo{
    display: flex;
    justify-content: space-between;
    height: 70%;
}
.footer .footLbx{
    font-size: 14px;
}
.footer .footLbx ul li{
    padding: 2px 0;
}
.footer .footLbx ul li:first-child{
    padding-top: 0;
}
.footer .footCbx{
    display: flex;
}
.footer .footCbx .menu{
    padding: 0 50px;
}
.footer .footCbx .menu a:hover{
    text-decoration: underline;
    color: #777;
}
.footer .snsWrap{
    width: 270px;
    /* border: 1px solid #000; */
    text-align: right;
    padding-top: 30px;
}
.footer .snsWrap .snsTit{
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 13px;
}
.footer .snsWrap .sns{
    display: flex;
    justify-content: space-between;
    padding-top: 13px;
}
.footer .copy ul{
    width: 100%;
    font-size: .6em;
}
.footer .copy ul{
    overflow: hidden;
}
.footer .copy ul li{
    float: left;
    padding: 0 5px;
}
.footer .copy ul li:first-child{
    padding-left: 0;
}