@charset 'utf-8';

@media only screen and (max-width: 1024px) {
    .header {
        font-size: 15px;
    }

    .header .menuBtn {
        width: 7vw;
        height: 4vh;
    }

    .ham ul {
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .cont .more {
        right: 5%;
    }

    .cont .down {
        left: 94%;
    }

    .wrapBox .cont {
        max-width: 870px;
    }

    .footer .footInfo {
        margin: 0 50px;
    }

    .footer .footCbx .menu {
        padding: 0 10px;
    }

    .cont1 .mainC .mainImgC1:hover .mainTitC {
        font-size: medium;
    }

    .cont1 .mainImg2 {
        width: 200px;
        height: 300px;
    }

    .cont3 .c3boxL {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-35%);
    }

    .cont3 .c3boxL .c3titL {
        height: 15%;
    }

    .cont3 .c3boxL .c3imgbxL {
        height: 50%;
    }

    .cont3 .c3boxR {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-55%);
    }

    .cont3 .c3boxR .c3imgbxR {
        height: 65%;
    }


}

@media only screen and (max-width: 768px) {
    .header .menuBtn {
        height: 3vh;
    }

    .header {
        height: 90px;
        font-size: 13px;
    }

    .header .title {
        line-height: 90px;
    }

    .wrapBox .cont {
        max-width: 700px;
    }

    .cont .more {
        font-size: 11px;
    }

    .cont .down {
        left: 48%;
        font-size: 12px;
        width: 35px;
        height: 45px;
    }

    .cont .down .imgWrap::before {
        left: 36px;
    }

    .cont1 .mainC .mainImgC1:hover .mainTitC {
        font-size: 11px;
    }

    .cont1 h3 {
        font-size: 1em;
    }

    .cont1 p {
        font-size: 12px;
    }

    .cont1 .mainImg2 {
        width: 150px;
        height: 230px;
    }

    .cont1>div {
        position: relative;
    }

    .cont1 .mainC .mainImgC2 {
        height: 37%;
        position: absolute;
        left: 0;
        bottom: 250px;
    }

    .wrapBox .cont2 .swiper-button-next,
    .wrapBox .cont2 .swiper-button-prev {
        background-size: 15px;
    }

    .wrapBox .cont2 .swiper-button-next {
        right: -20px;
    }

    .wrapBox .cont2 .swiper-button-prev {
        left: -20px;
    }

    .cont3 {
        display: none;
    }

    .wrapBox .cont.cont3_M {
        height: 1250px;
    }

    .cont3_M {
        display: block;
        text-align: center;
    }

    .cont3_M .tWrap_M h4 {
        font-size: 18px;
        padding-bottom: 15px;
    }

    .c3imgL_M {
        width: 50%;
        height: 400px;
        margin: 20px auto;
        background: url(../images/main-imageL.jpeg) no-repeat 50%/100%;
    }

    .c3imgR_M {
        width: 50%;
        height: 400px;
        margin: 20px auto;
        background: url(../images/newspaper.jpeg) no-repeat 50%/100%;
    }

    .footer {
        height: 140px;
    }

    .footer .footInfo {
        margin: 0 15px;
        font-size: 9px;
    }

    .footer .snsWrap {
        width: 130px;
    }

    .sns>div a i img {
        width: 18px;
    }

    .copy {
        position: relative;
    }

    .footer .copy ul {
        width: auto;
        margin-left: 0;
        font-size: 7px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .ham ul li a {
        font-size: 35px;
        letter-spacing: 3px;
    }
}

@media only screen and (max-width: 425px) {
    .header {
        height: 70px;
        font-size: 9px;
    }

    .header .title {
        line-height: 70px;
    }

    .header .menuBtn {
        width: 10vw;
    }

    .cont1 {
        display: none;
    }

    .cont1>div {
        position: static;
    }

    .cont.cont1.media {
        display: block;
        width: 370px;
        height: 870px;
        margin: 0 auto;
    }

    .cont1.media .mainC {
        width: 100%;
        height: 200px;
        padding: 0;
    }

    .cont1 .mainC .mainTitC {
        display: block;
        font-size: 20px;
    }

    .cont1.media .mainC .mainImgC1:hover .mainTitC {
        display: block;
        font-size: 20px;
    }

    .cont1 .mainC .mainTitC {
        top: 45%;
    }

    .cont1.media .mainC .mainImgC1 {
        height: 100%;
    }

    .cont1 .mainC .mainImgC2 {
        position: static;
        filter: grayscale(0);
    }

    .cont1.media .mainC2 {
        width: 80%;
        height: 385px;
        margin: auto;
    }

    .cont1.media .mainC2 .mainImgC2 {
        height: 100%;
    }

    .cont1.media .mainL {
        display: flex;
        width: 100%;
        padding: 0;
    }

    .cont1.media .mainL .mainImg2 {
        filter: grayscale(.2);
        margin-top: 10px;
    }

    .wrapBox .cont.cont2 {
        width: 370px;
        height: 40vh;
    }

    .cont2 .swiper {
        position: relative;
        padding-bottom: 56.25%;
        height: auto;
        overflow: hidden;
        max-width: 100%;
    }

    .cont2 .swiper-slide img {
        height: 100%;
        object-fit: cover;
    }

    .wrapBox .cont2 .swiper-button-next,
    .wrapBox .cont2 .swiper-button-prev {
        display: none;
    }

    .cont2 .swiper-pagination {
        bottom: 0;
    }

    .wrapBox .cont.cont3_M {
        width: 370px;
        height: 1050px;
    }

    .c3imgL_M {
        height: 300px;
        margin: auto;
    }

    .c3imgR_M {
        height: 250px;
        margin: auto;
    }

    .footer {
        height: 60px;
    }

    .footer .footInfo {
        margin: 0 10px;
        font-size: 7px;
        height: 50px;
    }

    .footer .copy ul {
        width: 100%;
        margin: auto;
        font-size: 3px;
        position: static;
        left: 0;
        transform: translateX(0);
        display: flex;
        justify-content: center;
    }

    .footer .footCbx .menu {
        padding: 0 5px;
    }

    .footer .footLbx ul li {
        padding: 5px 0;
    }

    .footer .copy ul li:first-child {
        padding-left: 5px;
    }

    .footer .footLbx .lang button {
        height: auto;
    }

    .footer .footLbx .lang ul {
        right: 29px;
        transform: translateY(-15px);
    }

    .footer .snsWrap {
        width: 70px;
    }

    .footer .snsWrap .snsTit {
        padding-bottom: 10px;
    }

    .footer .snsWrap .sns {
        padding-top: 10px;
    }

    .sns>div a i img {
        width: 13px;
    }

}

@media only screen and (max-width: 375px) {
    .header {
        font-size: 8px;
    }

    .header .menuBtn {
        height: 2.5vh;
    }

    .cont.cont1.media,
    .wrapBox.cont.cont2,
    .wrapBox .cont.cont3_M {
        width: 340px;
    }

    .cont .down {
        font-size: 10px;
        width: 30px;
        height: 40px;
    }

    .cont .down .imgWrap::before {
        left: 30px;
    }

    .c3imgL_M {
        height: 250px;
    }

    .c3imgR_M {
        height: 200px;
    }

    .footer {
        height: 60px;
    }

    .footer .footInfo {
        font-size: 6px;
    }

    .footer .footLbx .lang ul {
        right: 25px;
        transform: translateY(-10px);
    }
}

@media only screen and (max-width: 320px){
    .cont.cont1.media, .wrapBox .cont.cont2, .wrapBox .cont.cont3_M {
        width: 300px;
    }
    .cont1.media .mainC {
        height: 160px;
    }
    .cont1.media .mainC2 {
        height: 320px;
    }
    .cont2 .swiper {
        width: 100%;
    }
    .footer .footInfo {
        font-size: 5px;
    }
}