@charset "utf-8";

/************************* 모바일기준 800px 이하 *************************/
@media only screen and (max-width: 800px) {


}

/************************* 모바일기준 640px 이하 *************************/
@media only screen and (max-width: 640px) {

    .gnb1 {
        width: 100%;
    }

    .gnb1 ul>li {
        width: auto;
    }

    .gnb1>ul>li a {
        width: auto;
    }


}

/************************* 모바일기준 600px 이하 *************************/
@media only screen and (max-width: 600px) {

    /* .gnb2 .lb {
        width: 160px;
    }
    
    .gnb2 .rb {
        width: 160px;
    }
    @keyframes menuAni {
        to {
            width: 410px;
        }
    } */

    .ham {
        right: 0;
    }

    .cbtn {
        right: 0%;
    }

}

/************************* 모바일기준 500px 이하 *************************/
@media only screen and (max-width: 500px) {

    /* .gnb2 li {
        font-size: 1.3vh;
    }

    .gnb2 .lb {
        width: 130px;
    }
    
    .gnb2 .rb {
        width: 130px;
    }
    @keyframes menuAni {
        to {
            width: 330px;
        }
    } */

    .menu {
        font-size: 23px;
    }
}